language: cpp
compiler: gcc


notifications:
  email: false

addons:
  apt:
    packages:
      - realpath wget git realpath
matrix:
  include:
    ## Build AppImage
    - env: QT_INSTALL_PREFIX=/opt/qt510 INSTALL_PREFIX=/usr PROJECT_BUILD_DIR=/tmp/build QT_SELECT=qt5

      addons:
        apt:
          sources:
            - sourceline: ppa:beineri/opt-qt-5.10.1-trusty
          packages:
            - realpath
            - wget
            - git
            - realpath
            - cmake
            - desktop-file-utils
            - librsvg2-bin
            - libcairo2-dev
            - libglib2.0-dev
            - libarchive-dev
            - libfuse-dev
            - liblzma-dev
            - qt510-meta-minimal

      install:
        - "/opt/qt510/bin/qt510-env.sh"
        - sudo update-alternatives --install /usr/bin/qmake qmake /opt/qt510/bin/qmake 1
        - .travis/install_ecm_from_sources.sh
        - .travis/install_xdg_utils_cxx_from_sources.sh
        - .travis/install_kf5attica_from_sources.sh
        - .travis/install_libappimage_from_sources.sh
        - .travis/install_yaml-cpp_from_sources.sh

      script:
        - /opt/qt510/bin/qt510-env.sh
        - export SOURCES_DIR=${PWD}
        - mkdir -p ${PROJECT_BUILD_DIR}
        - cd ${PROJECT_BUILD_DIR}; ${SOURCES_DIR}/.travis/build_appimage-user-tool.sh
        - cd ${PROJECT_BUILD_DIR}; ${SOURCES_DIR}/.travis/build_appimage.sh

    ## Build Debian buster package
    - env: PKG_BUILD=DEBIAN_BUSTER
      script:
        - .travis/debian_buster/build_package.sh

    ## Build Centos 7 package
    - env: PKG_BUILD=CENTOS_7
      script:
        - .travis/centos_7/build_package.sh

    ## Build Ubuntu Bionic package
    - env: PKG_BUILD=UBUNTU_BIONIC
      script:
        - .travis/ubuntu_bionic/build_package.sh

    ## Build OpenSuse 42.3 package
    - env: PKG_BUILD=OPENSUSE_LEAP
      script:
        - .travis/opensuse_leap/build_package.sh

    ## Build ARCH package
    - env: PKG_BUILD=ARCH
      script:
        - .travis/arch/build_package.sh

after_success:
  - ls -lh
  # make sure only pushes to rewrite create a new release, otherwise pretend PR and upload to transfer.sh
  - if [ "$TRAVIS_BRANCH" != "$TRAVIS_TAG" ] && [ "$TRAVIS_BRANCH" != "master" ]; then export TRAVIS_EVENT_TYPE=pull_request; fi
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh appimage-user-tool*.AppImage*
  - bash upload.sh docker-build-release/appimage-user-tool*.rpm
  - bash upload.sh docker-build-release/appimage-user-tool*.deb
  - bash upload.sh docker-build-release/appimage-user-tool*.pkg.tar.xz
