language: cpp
compiler: gcc


notifications:
  email: false

addons:
  apt:
    sources:
      - sourceline: ppa:beineri/opt-qt-5.10.1-trusty
    packages:
      - realpath
      - git
      - wget
      - cmake
      - desktop-file-utils
      - librsvg2-bin
      - libcairo2-dev
      - libglib2.0-dev
      - libarchive-dev
      - libfuse-dev
      - liblzma-dev
      - qt510-meta-minimal

env:
  - QT_INSTALL_PREFIX=/opt/qt510 INSTALL_PREFIX=/usr PROJECT_BUILD_DIR=/tmp/build QT_SELECT=qt5

install:
  - "/opt/qt510/bin/qt510-env.sh"
  - find /opt/qt510/lib/cmake
  - sudo update-alternatives --install /usr/bin/qmake qmake /opt/qt510/bin/qmake 1
  - .travis/install_ecm_from_sources.sh
  - .travis/install_kf5attica_from_sources.sh
  - .travis/install_libappimage_from_sources.sh

script:
  - /opt/qt510/bin/qt510-env.sh
  - export SOURCES_DIR=${PWD}
  - mkdir -p ${PROJECT_BUILD_DIR}
  - cd ${PROJECT_BUILD_DIR}; ${SOURCES_DIR}/.travis/build_appimage.sh

after_success:
  - ls -lh
  # make sure only pushes to rewrite create a new release, otherwise pretend PR and upload to transfer.sh
  - if [ "$TRAVIS_BRANCH" != "$TRAVIS_TAG" ] && [ "$TRAVIS_BRANCH" != "master" ]; then export TRAVIS_EVENT_TYPE=pull_request; fi
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh AppImage_User_Tool-"$ARCH".AppImage*
