[Desktop Entry]
Version=1.0
Type=Application
Name=AppImage User Tool
Comment=Manage AppImages on your system
TryExec=app
Exec=app %F
Icon=appimage_logo
