[Desktop Entry]
Version=1.0
Type=Application
Name=appimage-cli-tool-settings
Comment=Configure AppImage providers
TryExec=appimage-cli-tool-settings
Exec=appimage-cli-tool-settings %F
Icon=appimage_logo
Categories=Utility;
